<div class="container" style="margin-top: 110px">
  <div class="row" id="index-img">
    <div class="col page-img">
        <img src="assets\images\nexfar_logo.jpg" style="float: right">
    </div>
      <div class="col-4 product-input">
          <input class="form-control"
          style="width: 95%"
          type="text"
          placeholder="filtrar produto"
          [(ngModel)]="productFilter">
      </div>
  </div>

  <div class="row" style="width: 100%">
    <div *ngFor="let item of product_List | productPipe:productFilter; let a = index" class="col-4 product-list">
      <div class="product-item">
        <h2 style="cursor: pointer; color: black;" (click)="showItemDetails(item, a)">{{item.nome}}</h2>
        <div class="row" style="color: black; margin-bottom: 15px;">
          <div class="container">
            <div *ngIf="item.imgPath">
              <img src={{item.imgPath}} class="product-img">
            </div>
            <div *ngIf="!item.imgPath">
              <img src="assets\images\cartoon-computer-3d.gif" class="product-img">
            </div>
          </div>
          <div class="col product-description">
            <h2>{{item.descricao}}</h2>
          </div>
        </div>
        <div style="color: black">
          <div class="row" style="padding-left: 30px;">
            <div class="col-4">
                <span style="font-size: 25px"><strong>Preço: R${{item.preco}}</strong></span>
            </div>
            <div class="col-4" style="cursor: pointer; color: #0062cc;">
              <span (click)="showItemDetails(item, a)" style="font-size: 23px;"><strong>Detalhar produto</strong></span>
            </div>
            <div class="col-4" style="padding: 13px;padding-top: 5px;">
              <button class="btn btn-primary btn-lg active" style="font-size: 30px" (click)="openListModal(item);"><i class="fas fa-cart-plus"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #addToListModal>
    <div class="modal-header" style="text-align: center;">
      <div style="width: 100%">
        <h2 style="color: red;">Atenção!</h2>
      </div>
    </div>
    <div class="modal-body">
      <p style="text-align: center;"><strong>Você deseja adicionar o item {{selectedProduct.nome}} ao carrinho de compras?</strong></p>
    </div>
    <div class="modal-footer">
      <div class="container">
        <div class="row" style="padding-left: 30px;">
          <div class="col">
              <button class="btn btn-outline-danger modal-button" (click)="closeModal()">Fechar</button>
          </div>
          <div class="col">
              <button class="btn btn-outline-success modal-button" (click)="addToCart()">Adicionar</button>
          </div>
        </div>
      </div>
    </div>
</ng-template>

<ng-template #productDetailModal>
    <div class="modal-header" style="text-align: center">
      <div style="width: 100%;">
          <h1>{{selectedProduct.nome}}</h1>
      </div>
    </div>
    <div class="modal-body">
      <div class="container" style="text-align: center;">
        <div style="margin-bottom: 15px;">
          <h2>{{selectedProduct.descricao}}</h2>
        </div>
        <div *ngIf="selectedProduct.imgPath">
          <img src={{selectedProduct.imgPath}} style="max-width: 320px;">
        </div>
        <div *ngIf="!selectedProduct.imgPath">
          <span style="color: red;"><strong>Esta imagem não está disponível</strong></span>
        </div>
        <div style="color: grey;margin-top: 15px">
            <strong>Preço: R${{selectedProduct.preco}}</strong>
        </div>
        <div class="product-config">
          <h3>Configurações do Produto</h3>
        <div>
            <strong>Processador: </strong>{{selectedProduct.configuracao.processador}}
          </div>
          <div>
            <strong>Memória Ram: </strong>{{selectedProduct.configuracao.ram}}
          </div>
          <div>
            <strong>Armazenamento: </strong>{{selectedProduct.configuracao.armazenamento}}
          </div>
          <div>
            <strong>Tamanho da tela: </strong>{{selectedProduct.configuracao.tela}} polegadas
          </div>
      </div>
    </div>
  </div>
    <div class="modal-footer">
      <button class="btn btn-outline-danger" (click)="closeModal()">Fechar</button>
    </div>
</ng-template>

<ng-template #cartFeedbackModal>
    <div class="modal-header" style="text-align: center;">
      <div style="width: 100%">
        <h2 *ngIf="!successCartOperation">Aviso!</h2>
        <h2 *ngIf="successCartOperation">Sucesso!</h2>
      </div>
    </div>
    <div class="modal-body" style="text-align: center">
      <div>
          <span *ngIf="successCartOperation"><strong>O item foi adicionado ao carrinho.</strong></span>
          <div *ngIf="!successCartOperation">
              <span><strong>Não foi possível adicionar item ao carrinho.</strong></span>
              <span>Verifique se o produto já está no carrinho ou tente novamente mais tarde.</span>
          </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="container">
        <div class="row" style="text-align: center;">
          <div class="col">
            <button (click)="closeModal()" class="btn btn-outline-danger modal-button">Fechar</button>
          </div>
        </div>
      </div>
    </div>
</ng-template>