.product-item {
    display: block;
    border: 1px solid;
    margin-right: 30px;
    border-radius: 3px;
    width: 500px;
    margin-top: 20px;
    background-color: #343a40;
    text-align: center;
}

.product-list {
    margin-top: 15px;
    display: -webkit-inline-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
}