<div class="collection col s12">
  <div class="row">
    <div class="col s10">
      <h4>Lista de Series</h4>
    </div>
    <div class="col s2 input-field">
        <input
        class="validate"
        [(ngModel)]='seriesFilter'
        type="text"
        >
    </div>
  </div>
  <div class="row">
      <a
      *ngFor="let serie of series_List | seriesFilter:seriesFilter"
      class="collection-item"
      [routerLink]="['/series', serie.id]">{{serie.nome}}</a>
  </div>
</div>

<a class="waves-effect waves-light btn" routerLink="">VOLTAR</a>

<div class="col s6">
  <a class="waves-effect waves-light btn" routerLink="novo">NOVO</a>
</div>

<router-outlet></router-outlet>