<div class="col-12">
    <div class="row" style="margin-bottom: 10px; margin-top: 17px;">

      <div class="col-md-s8">
        <h3>Lista de Séries</h3>
      </div>

      <div class="col-md-4">
        <div class="input-group">

            <input
            type="text"
            class="form-control"
            placeholder="filtrar"
            [(ngModel)]="seriesFilter">

            <div class="input-group-append">
              <span><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <ul class="list-group">
        <li><a *ngFor="let serie of series_List | seriesFilter:seriesFilter; let a = index"
            class="list-group-item list-group-item-action"
            [ngClass]=" {'list-group-item-success' : a%2 == 0, 'list-group-item-light' : a%2 != 0} "
            [routerLink]="['/series', serie.id]">{{serie.nome}}
        </a></li>
      </ul>
    </div>

    <div class="col-12" style="margin-top: 10px;">
      <div class="row">
        <div class="col-6">
          <button class="btn btn-dark" type="button" routerLink="">Voltar</button>
        </div>
        <div class="col-6">
          <button class="btn btn-dark" type="button" routerLink="openModal()">Novo</button>
        </div>
      </div>
    </div>

    </div>

  <!-- Modal de Série nova -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>