.navbar-brand {
    color: rgba(73, 202, 136, 0.9);
}

.nav-item a {
    color: cornsilk;
}

.cart-component {
    color: cornsilk;
    margin-top: 10px;
}

.product-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}