.navbar-brand {
    color: white;
}

.nav-item a {
    color: cornsilk;
}

.cart-component {
    color: cornsilk;
    margin-top: 10px;
}

.product-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bg-navbar {
    background-color: #65b865;
    border-bottom: 1px solid;
}
