<nav class="navbar navbar-expand-lg navbar-light bg-navbar">
    <a class="navbar-brand" href="#">E-COMMERCE NEXFAR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"></button>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">Sobre</a>
        </li>
      </ul>
      <div style="cursor: pointer;">
        <app-cart></app-cart>
      </div>
  </div>
</nav>
