<div class="row">
  <i class="fa fa-pencil" aria-hidden="true"></i>

<form class="col-s12" [formGroup]="form" ngSubmit="onSubmit()">

  <div class="row">
    <div class="input-field col s6">
      <input
      id="id"
      [ngClass]="aplicaCssErro('id')"
      formControlName="id"
      placeholder="Id"
      type="text"
      class="validate">
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <input
      [ngClass]="aplicaCssErro('nome')"
      formControlName="nome"
      placeholder="Nome da série"
      type="text"
      class="validate">
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <input
      [ngClass]="aplicaCssErro('duracao')"
      formControlName="duracao"
      placeholder="Duração"
      type="text"
      class="validate">
    </div>
  </div>

  <div class="row">
      <div class="input-field col s6">
        <input
        [ngClass]="aplicaCssErro('ano')"
        formControlName="ano"
        placeholder="ano"
        type="text"
        class="validate">
      </div>
    </div>

<button type="submit" (click)="onSubmit()" class="btn btn-primary" [disabled]="!form.valid">Butão</button>

</form>

<app-formdebug [form]="form"></app-formdebug>

</div>