.body {
    background-color: #5034a5;
}

.login-page {
    margin-top: 80px;
    margin-left: 70px;
}

.login-box {
    border: solid 1px;
    width: 350px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    background-color:white;
    border-radius: 5px;
}