<span (click)="openShoppingCart()" style="color: white"><i class="fas fa-cart-plus"></i></span>

<ng-template #shoppingCartModal>
    <div class="modal-header">
      <div class="col-xs-12" style="text-align: center;">
          <h2>Carrinho de compras</h2>
      </div>
    </div>
    <div class="modal-body" style="text-align: center">
      <div *ngIf="cart_List.length > 0" class="list-group">
        <ul style="margin-right: 34px">
            <li class="list-group-item" *ngFor="let item of cart_List">
              <div class="container">
                <div class="row">
                  <div class="col">
                    {{item.nome}}
                  </div>
                  <div class="col" style="padding: 0px;">
                    R${{item.preco}}
                  </div>
                  <div class="col">
                    <span style="cursor: pointer;" (click)="removeFromCartModalOpen(item)">
                      <i style="margin-left: 15px; color: red;" class="fas fa-times"></i>
                    </span>
                  </div>
                </div>
              </div>
            </li>
        </ul>
        <div class="container" style="text-align: center;">
        <div style="margin-bottom: 15px;">
          <strong>O valor total dos produtos é: R$ {{total}}</strong>
        </div>
        <div>
          <span><strong>Insira seu CEP</strong></span>
            <div>
                <input type="text" class="form-control" name="cep" id="cep" (blur)="consultaCep($event.target.value)">
            </div>
          <span><strong>Valor do frete: {{frete}}</strong></span>
        </div>
      </div>
      <div style="margin-bottom: 20px; margin-top: 10px;">
        <span style="color: green;"><strong>Total da compra: </strong></span><strong>R${{frete + total}}</strong>
      </div>
      <div>
          <span *ngIf="cart_List.length == 0"><strong>Seu carrinho de compras está vazio.</strong></span>
      </div>
    </div>
    <div class="modal-footer">
      <button (click)="closeModal()" class="btn btn-outline-primary pull-left">Fechar</button>
      <button (click)="calculateDeliveryModalOpen()" class="btn btn-outline-primary pull-left">Enviar pagamento</button>
    </div>
  </div>
</ng-template>

<ng-template #removeFromCartModal>
    <div class="modal-header">
      <h2>Aviso!</h2>
    </div>
    <div class="modal-body" style="text-align: center">
      <div>
          <span><strong>Você deseja remover este item do carrinho:</strong></span>
      </div>
    </div>
    <div class="modal-footer">
      <button (click)="closeModal()" class="btn btn-outline-primary pull-left">Fechar</button>
      <button (click)="removeFromCart()" class="btn btn-outline-primary pull-left">Remover</button>
    </div>
</ng-template>