<div class="row">
  <i class="fa fa-pencil" aria-hidden="true"></i>
<form [formGroup]="form" ngSubmit="onSubmit()" class="col-s12">

  <div class="row">
    <div class="col-xs-6 form-group">
      <input
      formControlName="id"
      placeholder="Id"
      type="text"
      class="validate">
    </div>
  </div>

  <app-form-field-error [mostrarErro]="fieldValidate('id')" msgErro="Campo 'Id' é obrigatório"></app-form-field-error>

  <div class="row">
    <div class="col-xs-6 form-group">
      <input
      formControlName="nome"
      placeholder="Nome do Filme"
      type="text"
      class="validate">
    </div>
  </div>

  <app-form-field-error [mostrarErro]="fieldValidate('nome')" msgErro="Campo 'Nome' é obrigatório"></app-form-field-error>

  <div class="row">
    <div class="col-xs-6 form-group">
      <input
      formControlName="duracao"
      placeholder="Duração"
      type="text"
      class="validate">
    </div>
  </div>

  <app-form-field-error [mostrarErro]="fieldValidate('duracao')" msgErro="Campo 'Duração' é obrigatório"></app-form-field-error>

  <div class="row">
      <div class="col-xs-6 form-group">
        <input
        formControlName="ano"
        placeholder="Ano"
        type="text"
        class="validate">
      </div>
    </div>

  <app-form-field-error [mostrarErro]="fieldValidate('ano')" msgErro="Campo 'Ano' é obrigatório"></app-form-field-error>

  <div class="row">
    <button
    [disabled]="form.valid"
    class="btn waves-effect waves-light"
    type="submit"
    name="action">
    SALVAR<i class="material-icons right"></i></button>
  </div>

</form>

<app-formdebug [form]="form"></app-formdebug>

</div>