<div class="row">
  <i class="fa fa-pencil" aria-hidden="true"></i>

<form class="col-xs-12" [formGroup]="form" ngSubmit="onSubmit()">

  <div class="row">
    <div class="col-xs-6">
      <input
      id="id"
      [ngClass]="aplicaCssErro('id')"
      formControlName="id"
      placeholder="Id"
      type="text"
      class="validate">
    </div>
  </div>
  <app-form-field-error [mostrarErro]="verificaCampo('id')" msgErro="Campo 'Id' é obrigatório"></app-form-field-error>

  <div class="row">
    <div class="col-xs-6">
      <input
      [ngClass]="aplicaCssErro('nome')"
      formControlName="nome"
      placeholder="Nome da série"
      type="text"
      class="validate">
    </div>
  </div>
  <app-form-field-error [mostrarErro]="verificaCampo('nome')" msgErro="Campo 'Nome' é obrigatório"></app-form-field-error>

  <div class="row">
    <div class="col-xs-6">
      <input
      [ngClass]="aplicaCssErro('duracao')"
      formControlName="duracao"
      placeholder="Duração"
      type="text"
      class="validate">
    </div>
  </div>
  <app-form-field-error [mostrarErro]="verificaCampo('duracao')" msgErro="Campo 'Duração' é obrigatório"></app-form-field-error>


  <div class="row">
      <div class="col-xs-6">
        <input
        [ngClass]="aplicaCssErro('ano')"
        formControlName="ano"
        placeholder="ano"
        type="text"
        class="validate">
      </div>
    </div>

  <app-form-field-error [mostrarErro]="verificaCampo('ano')" msgErro="Campo 'Ano' é obrigatório"></app-form-field-error>

<button type="submit" (click)="onSubmit()" class="btn btn-primary">SALVAR</button>

</form>

<app-formdebug [form]="form"></app-formdebug>

</div>